@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 194 35% 94%;
    --foreground: 222.2 84% 4.9%;
    --card: 194 35% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 194 35% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 190 39% 44%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 194 30% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 194 30% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 199 56% 67%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 194 20% 85%;
    --input: 194 20% 88%;
    --ring: 190 39% 44%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 194 35% 100%;
    --sidebar-foreground: 222.2 84% 4.9%;
    --sidebar-primary: 190 39% 44%;
    --sidebar-primary-foreground: 355.7 100% 97.3%;
    --sidebar-accent: 194 30% 90%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 194 20% 85%;
    --sidebar-ring: 199 56% 67%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 190 39% 54%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 199 56% 47%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 190 39% 44%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 190 39% 54%;
    --sidebar-primary-foreground: 355.7 100% 97.3%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 199 56% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
